* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 25% 75%;
}

#navbar {
  align-items: start;
  background-color: aliceblue;
  border-right: 3px solid silver;
}

.nav-link {
  align-items: start;
  border-top: 1px solid black;
  color: black;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 10px;
  padding-left: 33px;
  text-decoration: none;
  text-align: left;
}

.main-section {
  color: black;
  padding: 20px 20px;
  background-color: ghostwhite;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 20px;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  text-align: justify;
  padding-left: 40px;
  padding-bottom: 15px;
}

code {
  background-color: palegoldenrod;
  display: inline-block;
  margin: 1px 50px 15px 54px;
  font-family: monospace;
  font-size: 1.2em;
}

.ul-list {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: -50px;
  padding-left: 86px;
  padding-bottom: 15px;
  text-align: justify;
}

li {
  margin: 15px;
}

a:hover{
  background-color:ghostwhite;
  font-style: italic;
}

#intro-toplink-div {
  visibility: hidden;
}

.top-link-div {
  display: block;
  text-align: end;
  margin-top: 20px;
}

/* .top-link{
    display:block;
    text-align: end;
    margin-top: 15px;
} */

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-rows: 55px 10px;
    justify-items: start;
    background-color: ghostwhite;

    /* creates the menu in block version above the sections */
    display: inline-block;
  }

  #navbar {
    align-items: start;
    border-color: white;
    
  }


  .nav-link {
    display: block;
  }

  .main-section {
    display: block;
  }

  #intro-toplink-div {
    visibility: visible;
    display: block;
    text-align: end;
    margin-top: 20px;
  }

 }
